/emacs/auto-save-list/
/emacs/eshell/
/emacs/gkroam/
/emacs/nov-places
/emacs/straight/
/emacs/theme-readtheorg.setup
/emacs/transient/
/emacs/var/
/emacs/.cache/
/emacs/tramp
/emacs/init-emacs.el
/emacs/snippets/org/
/emacs/.local/
